html, body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  font-family: "Open Sans", "Gilroy", "Arial", sans-serif;
  font-size: 15px;
  line-height: 30px;
  color: #444444;
  font-weight: normal;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.div-center {
  width: 960px;
  margin: 0 auto;
}

.main-header-center {
  display: flex;
}

.mp-zero {
  margin: 0;
  padding: 0;
}

.header-logo {
  display: block;
  padding-top: 9px;
}

.header-tagline {
  margin: 0;
  padding: 0;
  margin-top: 8px;
  color: #00A1E6;
  font-size: 21px;
  line-height: 25px;
  font-weight: 700;
  text-transform: uppercase;
}

.header-phonenomber {
  display: block;
  padding-top: 19px;
  line-height: 32px;
  color: #00A3D0;
  font-size: 30px;
  text-align: right;
  font-family: open-sans, sans-serif;
  font-weight: 700;
  text-decoration: none;
}

.header-text {
  line-height: 19px;
  color: #7F7F7F;
  font-size: 16px;
  text-align: right;
  font-weight: 400;
}

.header-contact {
  margin-left: auto;
}

.btn-header {
  display: block;
  border: #52a4d0 solid 4px;
  border-radius: 23px;
  text-decoration: none;
  color: #00A3D0;
  width: 204px;
  height: 33px;
  margin-top: 12px;
  margin-left: auto;
  text-align: center;
  font-family: inherit;
  text-transform: uppercase;
}

.btn-header:hover {
  background-color: #52a4d0;
  color: white;
}

.btn-header:active {
  background-color: #567e94;
  border-color: #567e94;
  color: white;
}

.capture-page {
  min-height: 539px;
  background: #94ACB6 url("../img/vydedlksohi.jpg") no-repeat center center;
  background-size: cover;
}

.capture-page-advantages-list {
  padding: 0;
  margin: 0;
  margin-top: 7px;
  padding-top: 47px;
}

.capture-page-advantages-btn {
  list-style-type: none;
}

.capture-page-advantages-btn a {
  position: relative;
  display: block;
  width: 400px;
  height: 30px;
  margin-bottom: 18px;
  padding: 20px;
  padding-left: 107px;
  background: linear-gradient(to right, #FFFFFF, rgba(255, 255, 255, 0) 100%);
  text-decoration: none;
  line-height: 29px;
  color: #00A1E6;
  font-size: 24px;
  text-align: left;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 60px;
  text-shadow: 1px 1px 3px #fff;
}

.capture-page-advantages-btn a:hover {
  background: linear-gradient(to right, #feed00, rgba(255, 255, 255, 0) 100%);
}

.capture-page-advantages-btn a:active {
  background: linear-gradient(to right, #f3ea6d, rgba(255, 255, 255, 0) 100%);
}

.capture-page-advantages-btn a::before {
  content: "";
  display: block;
  position: absolute;
  background-image: url(../img/spritesheet.png);
  background-repeat: no-repeat;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 56px;
}

.free-shipping a::before {
  width: 71px;
  height: 45px;
  background-position: -260px -126px;
}

.indent-seal a::before {
  width: 60px;
  height: 60px;
  background-position: -240px -250px;
}

.lifetime-warranty a::before {
  width: 75px;
  height: 60px;
  background-position: -5px -5px;
}

.capture-page-disign-card-btn {
  margin-top: 76px;
  display: block;
  text-decoration: none;
  font-family: inherit;
  font-size: inherit;
  color: #fff;
  width: 422px;
  height: 86px;
  border-radius: 60px;
  border: solid 3px #fff;
  background: linear-gradient(to top, #0079bf, #009ece);
  line-height: 30px;
  color: #FFFFFF;
  font-size: 21px;
  text-align: center;
  font-weight: 400;
}

.capture-page-disign-card-btn:hover {
  background: linear-gradient(to top, #0079bf, #0079bf);
}

.capture-page-disign-card-btn:active {
  background: linear-gradient(to top, #009ece, #009ece);
}

.capture-page-disign-card-btn span {
  display: block;
  line-height: 48px;
  color: #FFFFFF;
  font-size: 36px;
  text-align: center;
  font-weight: 400;
  padding-right: 2px;
}

.capture-page-text {
  margin: 0;
  margin-top: 8px;
  padding-left: 20px;
  line-height: 22px;
  color: #00A3D0;
  font-size: 18px;
  font-weight: 400;
}

.main-navigation {
  line-height: 22px;
  color: #FFFFFF;
  font-size: 18px;
  background-color: #00a3d0;
  display: block;
  font-weight: 300;
  width: 100%;
  letter-spacing: -1px;
  position: absolute;
}

.item-navigation {
  display: block;
}

.item-navigation a {
  padding: 0;
  margin: 0;
  color: inherit;
  font-size: inherit;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px;
  display: block;
  outline-color: #002dd0;
}

.item-navigation a:hover {
  position: relative;
  top: 1px;
}

.item-navigation a:active {
  position: relative;
  color: #d4d4d4;
  top: 1px;
}

.navigation {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.promo-page-body {
  display: flex;
}

.promo-page-title {
  width: 517px;
  border-style: solid;
  border-width: 4px;
  border-color: #FEED00;
  background-color: transparent;
  position: relative;
  margin-top: 110px;
  margin-left: 49px;
}

.promo-page-title b {
  line-height: 58px;
  text-align: center;
  letter-spacing: 2px;
  color: #00A3D0;
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  transform: translate(50%, -50%);
  top: 0;
  right: 50%;
  display: block;
  width: 463px;
  background-color: white;
}

.promo-page-title p {
  margin: 0;
  line-height: 36px;
  text-align: center;
  letter-spacing: 1px;
  color: #00A3D0;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 44px;
}

.promo-page-title span {
  margin: 0 auto;
  margin-top: 15px;
  display: block;
  border: solid 4px #00A3D0;
  width: 219px;
  padding: 5px;
  margin-bottom: 20px;
}

.timer {
  margin-top: 62px;
  margin-left: 95px;
}

.timer-body {
  background-color: #fff680;
  min-height: 92px;
  width: 343px;
}

.timer-clock {
  display: flex;
}

.timer-title{
  color: #666F85;
    font-family: open-sans, sans-serif;
    font-weight: 300;
    margin-left: 98px;
    padding-top: 1px;
}

.sprite {
  background-image: url(spritesheet.png);
  background-repeat: no-repeat;
  display: block;
}

.sprite-arabika-logo {
  width: 77px;
  height: 77px;
  background-position: -90px -5px;
}

.sprite-avtomag {
  width: 77px;
  height: 13px;
  background-position: -177px -5px;
}

.sprite-card {
  width: 42px;
  height: 42px;
  background-position: -264px -5px;
}

.sprite-cash-icon {
  width: 42px;
  height: 42px;
  background-position: -177px -57px;
}

.sprite-checkboxchecked {
  width: 16px;
  height: 16px;
  background-position: -316px -5px;
}

.sprite-checkboxcheckedmousedown {
  width: 16px;
  height: 16px;
  background-position: -177px -31px;
}

.sprite-checkboxcheckedrollover {
  width: 16px;
  height: 16px;
  background-position: -203px -31px;
}

.sprite-checkboxuncheckedmousedown {
  width: 16px;
  height: 16px;
  background-position: -229px -31px;
}

.sprite-checkboxuncheckedrollover {
  width: 16px;
  height: 16px;
  background-position: -316px -31px;
}

.sprite-close {
  width: 27px;
  height: 27px;
  background-position: -229px -57px;
}

.sprite-corner {
  width: 24px;
  height: 13px;
  background-position: -266px -57px;
}

.sprite-credit-icon {
  width: 42px;
  height: 42px;
  background-position: -5px -80px;
}

.sprite-facebook-icon {
  width: 31px;
  height: 30px;
  background-position: -300px -57px;
}

.sprite-form-icons {
  width: 31px;
  height: 131px;
  background-position: -57px -97px;
}

.sprite-form-icons1 {
  width: 15px;
  height: 22px;
  background-position: -98px -97px;
}

.sprite-form-icons2 {
  width: 15px;
  height: 30px;
  background-position: -123px -97px;
}

.sprite-form-icons22 {
  width: 15px;
  height: 30px;
  background-position: -148px -97px;
}

.sprite-form-icons3 {
  width: 15px;
  height: 19px;
  background-position: -229px -97px;
}

.sprite-form-icons32 {
  width: 15px;
  height: 19px;
  background-position: -254px -97px;
}

.sprite-formula_m2 {
  width: 77px;
  height: 39px;
  background-position: -173px -126px;
}

.sprite-good_doktor-ieu {
  width: 61px;
  height: 77px;
  background-position: -98px -181px;
}

.sprite-gooddoctor {
  width: 61px;
  height: 77px;
  background-position: -169px -181px;
}

.sprite-insta {
  width: 41px;
  height: 30px;
  background-position: -5px -181px;
}

.sprite-logo_sibir_gostinitsa_bol {
  width: 77px;
  height: 59px;
  background-position: -240px -181px;
}

.sprite-millefamille {
  width: 77px;
  height: 38px;
  background-position: -5px -250px;
}

.sprite-next-u4983 {
  width: 30px;
  height: 45px;
  background-position: -342px -5px;
}

.sprite-next-u4983-r {
  width: 30px;
  height: 45px;
  background-position: -341px -60px;
}

.sprite-next-u7322 {
  width: 30px;
  height: 45px;
  background-position: -341px -115px;
}

.sprite-next-u7322-r {
  width: 30px;
  height: 45px;
  background-position: -341px -170px;
}

.sprite-ok-icon {
  width: 30px;
  height: 30px;
  background-position: -327px -225px;
}

.sprite-prev-u4986 {
  width: 30px;
  height: 48px;
  background-position: -310px -265px;
}

.sprite-prev-u4986-r {
  width: 30px;
  height: 48px;
  background-position: -5px -323px;
}

.sprite-prev-u7314 {
  width: 30px;
  height: 45px;
  background-position: -45px -323px;
}

.sprite-prev-u7314-r {
  width: 30px;
  height: 45px;
  background-position: -85px -323px;
}

.sprite-radiobuttonchecked {
  width: 16px;
  height: 16px;
  background-position: -350px -265px;
}

.sprite-radiobuttoncheckedmousedown {
  width: 16px;
  height: 16px;
  background-position: -92px -291px;
}

.sprite-radiobuttoncheckedrollover {
  width: 16px;
  height: 16px;
  background-position: -118px -291px;
}

.sprite-radiobuttonunchecked {
  width: 16px;
  height: 16px;
  background-position: -144px -291px;
}

.sprite-radiobuttonuncheckedmousedown {
  width: 16px;
  height: 16px;
  background-position: -170px -291px;
}

.sprite-radiobuttonuncheckedrollover {
  width: 16px;
  height: 16px;
  background-position: -196px -291px;
}

.sprite-stamp-icon {
  width: 45px;
  height: 45px;
  background-position: -125px -323px;
}

.sprite-thumbs-up {
  width: 42px;
  height: 42px;
  background-position: -180px -323px;
}

.sprite-track {
  width: 42px;
  height: 42px;
  background-position: -232px -323px;
}

.sprite-vuuo-tgnyqg {
  width: 30px;
  height: 30px;
  background-position: -284px -323px;
}

.sprite-win-icon {
  width: 42px;
  height: 42px;
  background-position: -324px -323px;
}
