.cocial-btn{
  display: flex;
  justify-content: center;
}

.cocial-btn__text{
letter-spacing: 2px;
color: #000000;
font-size: 30px;
line-height: 53px;
font-family: open-sans, sans-serif;
font-weight: 700;
}

.cocial-btn__list {
  display: flex;

}

.cocial-btn__item {
  list-style: none;
  margin: 0 10px;
  position: relative;
  & a{
  display: block;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-image: url("/assets/img/spritesheet.png");
  border-radius: 5px;
  }
  &--fb a{
    background-position: -300px -57px;
  }

  &--vk a{
    background-position: -284px -323px;
  }

  &--ok a{
    background-position: -327px -225px;
  }

  &--insta a{
    background-position: -11px -181px;
  }

  &:hover a{
    transform: scale(1.1);
  }

  &:active a{
    transform: scale(1.1) translateY(2px);
  }

}

.cocial-btn__visually-hidden {
  @include visuali-hidden;
}
