.header-logo{
  margin-top: 10px;
}

.header-logo h1{
  margin: 0;
  padding: 0;
}

.header-logo__logo-text{
  @include visuali-hidden;
}

.header-logo__tagline{
  margin: 0;
  padding: 0;
  margin-top: 4px;
  color: #00A1E6;
  font-size: 21px;
  line-height: 25px;
  font-weight: 700;
  text-transform: uppercase;
}
