.order-free-card{
background-color: $bg-blue;
background-image: url("/assets/img/bg-triangl2.svg"), url("/assets/img/bg-triangl.svg"),;
background-repeat: no-repeat;
background-size: contain;
background-position: top -1px left, bottom -1px left;
}

.order-free-card__form{
  margin: 0;
}

.order-free-card__inner{
  @include container;
  padding-top: 90px;
  padding-bottom: 90px;
}
