@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  20% {
    transform: translateY(-80%);
  }

  90% {
    transform: translateY(20%);
  }

  100% {
    transform: translateY(0%);
  }
}

.thanks-call{
  display: none;
  position: fixed;
  z-index: 100;
  top: 0;
  background-color: rgba(0,0,0,0.9);
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.thanks-call--show{
  display: flex;
}

.thanks-call__wrapper {
  display: none;
  position: relative;
  width: 380px;
  background-color: #FFFFFF;
  border: solid 5px #e1e1e1;
  padding: 10px 20px;

}

.thanks-call__wrapper--show{
    display: block;
    animation: bounce 0.6s;
}

.thanks-call__title {
  line-height: 40px;
  color: $bg-blue;
  font-size: 33px;
  text-align: center;
  font-weight: 700;
  margin: 6px 0 0;
}

.thanks-call__text {
  color: #505055;
  font-size: 17px;
  line-height: 17px;
  text-align: center;
  font-weight: 700;
  margin: 22px 0 10px;
  &--checkbox {
    text-align: left;
  }
  &--link:hover{
    color: $bg-dark-red;
  }
}

.thanks-call__form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.thanks-call__text-hidden {
  font-size: 0;
  position: absolute;
  display: block;
  width: 1px;
  height: 1px;
}
