.btn {
  display: block;
  border: #52a4d0 solid 4px;
  border-radius: 23px;
  text-decoration: none;
  color: #00A3D0;
  width: 204px;
  height: 33px;
  margin-top: 12px;
  margin-left: auto;
  text-align: center;
  font-family: inherit;
  text-transform: uppercase;
}

.btn:hover {
  background-color: #52a4d0;
  color: white;
}

.btn:active {
  background-color: #567e94;
  border-color: #567e94;
  color: white;
}

.btn--leave-request-form {
  margin: 21px auto 18px;
  height: 60px;
  border-radius: 100px;
  border: solid 3px white;
  width: 365px;
  background: linear-gradient(to top, #f49b1f, #fbe721);
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 19px;
  outline-color: blue;

  &:hover {
    background: linear-gradient(to top, #fbe721, #fbe721);
  }

  &:active {
    background: linear-gradient(to top, #f49b1f, #f49b1f);
  }
}

.btn--request-call {
  width: 245px;
  height: 58px;
  margin: 13px 0 0;
  border-radius: 74px;
  border: solid 3px white;
  background: linear-gradient(to top, #f49b1f, #fbe721);
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 19px;
  margin-bottom: 20px;
  box-shadow: 0 0 7px #666;

  &:hover {
    background: linear-gradient(to top, #fbe721, #fbe721);
  }

  &:active {
    background: linear-gradient(to top, #f49b1f, #f49b1f);
  }
}

.btn--thanks-call {
  width: 245px;
  height: 58px;
  margin: 13px 0 0;
  margin-left: auto;
  margin-right: auto;
  border-radius: 74px;
  border: solid 3px white;
  background: linear-gradient(to top, #f49b1f, #fbe721);
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 19px;
  margin-bottom: 20px;
  box-shadow: 0 0 7px #666;

  &:hover {
    background: linear-gradient(to top, #fbe721, #fbe721);
  }

  &:active {
    background: linear-gradient(to top, #f49b1f, #f49b1f);
  }
}
