.leave-request-form__part1{
  border:none;
}



.leave-request-form__title {
  line-height: 43px;
  color: #FFFFFF;
  font-size: 36px;
  text-align: center;
  font-weight: 700;
}

.leave-request-form__text {
  line-height: 26px;
  color: #FFFFFF;
  font-size: 22px;
  text-align: center;
  font-weight: 300;
}

.leave-request-form__text-hidden{
  .visuali-hidden;
}
