.leave-request-form__part1{
  border:none;
}



.leave-request-form__title {
  line-height: 43px;
  color: #FFFFFF;
  font-size: 36px;
  text-align: center;
  font-weight: 700;
  margin-bottom: 19px;
}

.leave-request-form__text {
  line-height: 26px;
  color: #FFFFFF;
  font-size: 22px;
  text-align: center;
  font-weight: 300;
  margin-bottom: 41px;
}

.leave-request-form__text-hidden{
  .visuali-hidden;
}

.leave-request-form__line input,
.leave-request-form__line select, {
  width: 271px;
  min-height: 36px;
  color: #000000;
  font-family: open-sans, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  padding: 6px;
  background-color: @bg-blue;
  border: solid 2px #FFFFFF;
}

.leave-request-form__line input::placeholder{
  color: #000000;
}
