.types-products {}

.types-products__inner {
  .container;
}

.types-products h2 {
  line-height: 58px;
  color: @bg-yello;
  font-size: 48px;
  text-align: center;
  font-family: "open sans";
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}

.types-products__gallery{
  display: flex;
}
